<!-- news -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].news.section | default: "news" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].news.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].news.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].news.body | markdownify }}</div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://crossiety.app/embed/14227/group?notice=off" allowfullscreen></iframe>
            </div>
            
        </div>
      </div>
  </div>








</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.news.section | default: "news" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.news.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.news.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext.news.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End news -->
