<!-- news -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].news.section | default: "news" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].news.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].news.text | default: "" | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].news.body | markdownify }}</div>
      </div>
    </div>
    <div class="row">
       
       
       
        {% for event in site.data.news.events %}

        <div class="card mb-3">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ event.image }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ event.titel }}</h5> 
                <p class="card-text"><small class="text-body-secondary">{{ event.text }}</small></p>
                <a class="btn btn-primary" href="{{ event.link }}" role="button" target="_blank"><i class="fa fa-arrow-right"></i> WEITERLESEN AUF CROSSIETY</a>
                </div>
            </div>
            </div>
        </div>



	{% endfor %}




      </div>
  </div>








</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.news.section | default: "news" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.news.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.news.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext.news.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End news -->
